/**/.vscode

# exclude everything
/ADTUIOriginal/userGeneratedFiles/*
# exception to the rule
!/ADTUIOriginal/userGeneratedFiles/.gitkeep 

/**/.env

/**/node_modules
!/azureiotrocksB2C/spaPortal/node_modules 

/**/selfExp.*